<div class="container-fluid">

  <h4 id="panels" class="page-header ">Onde vou?</h4>

  <button ng-click="selectCategory('RESTAURANT')" type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-glass" aria-hidden="true"> Restaurante</span>
  </button>
  <button ng-click="selectCategory('THEATHER')" type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-film" aria-hidden="true"> Cinema</span>
  </button>
  <button ng-click="selectCategory('NIGHTCLUB')" type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-user" aria-hidden="true"> Boate</span>
  </button>
  <button ng-click="selectCategory('PARK')" type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"> Parque</span>
  </button>
  
  <br/>
  
  <p id="demo"></p>

</div>