<div>
  <img ng-src="{{mainImageUrl}}" class="img-responsive" style="height: 250px">
</div>

<div class="container-fluid">

  <ul class="place-thumbs">
    <li ng-repeat="img in place.images"><img ng-src="{{img.content}}" ng-click="setImage(img.content)"></li>
  </ul>

  <h1 style="border-bottom: none;">{{place.name}}</h1>

  <section>

    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{ active:isSet(1) }"><a href="" ng-click="setTab(1)">Detalhes</a></li>
      <li role="presentation" ng-class="{ active:isSet(2) }"><a href="" ng-click="setTab(2)">Comentarios</a></li>
    </ul>

    <br />
    
    <div ng-show="isSet(1)">
      <p>{{place.description}}</p>

      <div style="color: #f5f5f5;">
        <span ng-class="{'gold-star': place.rating >= 1}">★</span> <span ng-class="{'gold-star': place.rating >= 2}">★</span>
        <span ng-class="{'gold-star': place.rating >= 3}">★</span> <span ng-class="{'gold-star': place.rating >= 4}">★</span>
        <span ng-class="{'gold-star': place.rating >= 5}">★</span>
      </div>

      <p>{{place.distance | number:1}} km</p>

      
      <div id="type-selector" class="controls">
        <input type="radio" name="type" id="position" checked="checked" ng-change="changeMap()" value="position" ng-model="travelMode">
        <label for="position">Posicao</label>
  
        <input type="radio" name="type" id="driving" ng-change="changeMap()" value="driving" ng-model="travelMode">
        <label for="driving">Dirigindo</label>
  
        <input type="radio" name="type" id="bus" ng-change="changeMap()" value="bus" ng-model="travelMode">
        <label for="bus">Onibus</label>
  
        <input type="radio" name="type" id="walking" ng-change="changeMap()" value="walking" ng-model="travelMode">
        <label for="walking">Andando</label>
      </div>
      
      <div id="map" style="height: 250px; width: 100%;"></div>
    </div>

    <div ng-show="isSet(2)">
      <ul style="  list-style: none;">
        <li ng-repeat="review in place.reviews">
          <blockquote>
            <strong>{{review.stars}} Estrelas</strong>
            {{review.description}}
            <footer><cite>{{review.author}}</cite></footer>
          </blockquote>
        </li>
      </ul>
            
      <!--  Review Form -->
      <form name="reviewForm" ng-submit="addReview(place)">
  
        <!--  Live Preview -->
        <blockquote>
          <strong>{{review.stars}} Stars</strong>
          {{review.description}}
          <footer><cite>{{review.author}}</cite></footer>
        </blockquote>
  
        <!--  Review Form -->
        <h4>Comente</h4>
        <fieldset class="form-group">
          <select required ng-model="review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Estrelas">
            <option value="">Avalie</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea ng-model="review.description" class="form-control" placeholder="Escreva uma avaliacao" title="Descricao"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Enviar" />
        </fieldset>
      </form>
      
    </div>
        
  </section>

  <br /> <br /> <br />



</div>

