<div class="container-fluid">
  <h1>{{title}}</h1>
  <ul class="places">
    <li ng-repeat="place in places" class="thumbnail place-listing">
      <a href="#/places/{{place.id}}" class="thumb"><img ng-src="{{place.logo}}"></img></a>     
      <a href="#/places/{{place.id}}">{{place.name}}</a>      
      <p>{{place.snippet}}</p> 
      
      <div style="color: #f5f5f5;">
        <span ng-class="{'gold-star': place.rating >= 1}">★</span> 
        <span ng-class="{'gold-star': place.rating >= 2}">★</span>
        <span ng-class="{'gold-star': place.rating >= 3}">★</span> 
        <span ng-class="{'gold-star': place.rating >= 4}">★</span>
        <span ng-class="{'gold-star': place.rating === 5}">★</span>
      </div>

      <p>{{place.distance | number:1}} km</p>
    </li>
  </ul>
  
  <h3 ng-show="places.length === 0">Nenhum registro encontrado.</h3>
  
</div>

