<div class="container-fluid">
  <h1>Cadastro de Ponto de Interesse</h1>  
    
  <form name="placeAddForm" ng-submit="addPlace(place)" >
    <div class="form-group">
      <label for="placeName">Nome</label>
      <input type="text" class="form-control" id="placeName" placeholder="Nome" ng-model="place.name" required ng-trim="false">
    </div>
    <div class="form-group">
      <label for="placeCategory">Categoria</label>
        <select class="form-control" ng-model="place.category.id" required>
          <option value="">Selecione</option>
          <option value="1">Restaurante</option>
          <option value="2">Cinema</option>
          <option value="3">Boate</option>
          <option value="4">Parque</option>
      </select>
    </div>
    <div class="form-group">
      <label for="placeDescription">Descricao</label>
      <textarea required name="placeDescription" class="form-control" rows="3" ng-model="place.description"></textarea>
    </div>
    
    <div class="form-group">
      <label for="logo">Logo</label>
      <div id="logo" class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img data-src="holder.js/100%x100%" alt="...">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Imagem</span><span class="fileinput-exists">Mudar</span><input type="file" name="logo"></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
        </div>
      </div>
      
    </div>
    
    <div class="form-group">
        
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img data-src="holder.js/100%x100%" alt="...">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Imagem</span><span class="fileinput-exists">Mudar</span><input type="file" name="..."></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
        </div>
      </div>
      
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img data-src="holder.js/100%x100%" alt="...">
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
        <div>
          <span class="btn btn-default btn-file"><span class="fileinput-new">Imagem</span><span class="fileinput-exists">Mudar</span><input type="file" name="..."></span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remover</a>
        </div>
      </div>
      
    </div>
    
    <div class="form-group">
        <label for="myMap">Localizacao</label>
        <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
        
        <div id="myMap" style="height: 250px; width: 100%;"></div>
        
    
    </div>
    
  
    <button type="submit" class="btn btn-default">Salvar</button>
    
    <br/>
    <br/>
    <br/>
    <br/>
  </form>
      
</div>
