<div class="container-fluid">
  <h1>Configuracao</h1>  
    
  <form name="ratioConfigForm" ng-submit="saveRatio()" >
    <div class="form-group">
      <label for="ratio">Perimeto(km)</label>
      <input type="number" style="width: 20%" class="form-control" id="ratio" ng-model="ratio" required ng-trim="false">
    </div>
      
    <button type="submit" class="btn btn-default">Salvar</button>
    
    <br/>
    <br/>
    <br/>
    <br/>
  </form>
      
</div>
